name: CI

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: precise

    steps:
      - name: Checkout repo
        uses: actions/checkout@v6

      - name: Setup node
        uses: actions/setup-node@v6
        with:
          node-version: '24' # Use latest LTS version

      - name: Check code style
        run: npm run check:clean

      - name: Build package
        run: npm run package:clean
